* {
  box-sizing: border-box;
  --accent-color: #4895EF;
  --accent-color-hover: #deeefc;
  --contrast-color: #ffffff;
  --contrast-color-hover: #dadce0;
  --base-300: #e6e8ec;
  --mid-color: #323944;
  --dark-color: #262631;
  --dark-color-hover: #2b2e3a;
  --error-color: #f51d24;
  --shadow-color: rgba(159, 162, 172, 0.26);
  --font: 'Quicksand';
  --font-cta: 'Montserrat';
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-cta);
  margin: 0;
}

body {
  color: var(--mid-color);
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  outline: none;
  border: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: var(--font-cta);
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat.ttf');
}
