

.block__standard {
    height: 165px;
    width: 165px;
    background-color: #555;
}

.block__correct-match {
    height: 165px;
    width: 165px;
    background-color: green;

  }

.block__incorrect-match {
    height: 165px;
    width: 165px;
    background-color: red;
}