
.gameOver-text-block {
  background: #28CFA7;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
  height: 200px;
  flex-direction: column;
  z-index: 1;
}

.gameOver-text {
    border-top: 1px solid #e0e0e0;
    padding: 2em;
    pointer-events: all;
    overflow: auto;
    font-size: 30px;
    color: black;
}