.heart {
    background-color: red;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 10px;
    
    top: 0;
    transform: rotate(-45deg);
    
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 15px;
    position: absolute;
    width: 15px;
  }
  
  .heart:before {
    top: -8px;
    left: 0;
  }
  
  .heart:after {
    left: 8px;
    top: 0;
  }

  .livesNum {
    display: inline;
    margin-right: 10px;
    text-align: center;
  }