.button {
    padding: 1rem;
    display: flex;
    gap: .5rem;
    border-radius: .25rem;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: var(--font-cta);
    transition: background-color .25s, color .25s, border .25s, transform .25s;
}

.button:hover {
    transform: translateY(-.5rem);
}

.button--outlined {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.button--outlined:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.button--filled {
    background-color: var(--accent-color);
    color: var(--contrast-color)
}

.button--caution {
    border: 1px solid var(--error-color);
    color: var(--error-color)
}

.button--caution:hover {
    background-color: var(--error-color);
    color: var(--contrast-color);
}

.section {
    display: flex;
    padding: 2rem;
    background-color: var(--contrast-color);
    border: 1px solid var(--shadow-color);
    border-radius: .5rem;
    box-shadow: 0 .25rem 1rem var(--shadow-color);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--shadow-color);
    margin: 1.5rem 0 1.5rem 0;
}

.hyperlink {
    text-decoration: underline;
    color: var(--accent-color);
    font-family: var(--font-cta);
}