<<<<<<< HEAD
.bank-left-panel {
    width: 15vw;
    height: 100%;
    position: relative;
    top: 5rem;
    left: 0;
    padding: 1rem;
    overflow-wrap: break-word;
    font: var(--font);
}

.bank-right-panel {
    overflow: auto;
    width: 80vw;
    height: 100%;
    position: relative;
    top: -6rem;
    left: 15vw;
    gap: .5rem;
    padding: 1rem;
    overflow-wrap: break-word;
    font: var(--font);
    float: left;
}

.bank-test-elements {
    float: left;
    align-items: center;
}

.bank-test-button {
    padding: 2rem;
    width: 15rem;
    height: 15rem;
    font-size: 1rem;
    border-radius: 20px;
    margin-top: 3rem;
    margin-right: 3rem;
    outline-color: var(--accent-color);
    outline-style: solid;
    transition: transform .25s;
    outline-width: 0.2rem;
    color: var(--accent-color);  
}

.bank-test-text {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.bank-test-button:hover {
    outline-color: var(--contrast-color-hover);
    transform: translateY(-5px);
    color: var(--accent-color-hover);
}

.bank-question {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    width: 800px;
    height: 200px;
    font-size: 1.25rem;
    border-radius: 20px;
    margin-top: 0.5rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    text-align: left;
    font-family: var(--font-cta);
    outline-color: var(--accent-color);
    outline-style: solid;
    transition: transform .25s;
}

.bank-input {
    font-size: 1.25rem;
    margin-top:1rem;
    border-radius: 4px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #676d77;
    width: 15rem;
    height: 2.5rem;
}

.bank-input-select {
    font-size: 1.25rem;
    margin-top:1rem;
    border-radius: 4px;
    outline-style: none;
    outline-color: var(--accent-color);
    width: 15rem;
    height: 2.5rem;
}

.bank-input-text{
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 4px;
    outline: 2.5px solid black;
}

.bank-question-image{
    position:relative;
    left:38rem;
    bottom:5rem;
    width:156px;
    height:156px;
}

.bank-edit-button{
    position:relative;
    left:42.5rem;
}

.bank-remove-button{
    outline-style: solid;
    outline-color: var(--error-color);
    border-radius: 5rem;
    outline-width: 0.2rem;
    position: relative;
    height: 20px;
    bottom: 17.5rem;
    left: 215px;
    color: var(--error-color);
    float: center;
    align-items: center;
}

.bank-remove-button:hover {
    outline-color: var(--contrast-color-hover);
    color: var(--accent-color-hover);
}
=======
>>>>>>> 7633a4d2e1c18835c189c221d5333bd52fa73baa
