.dashboard {
    position: relative;
    display: flex;
    gap: 2rem;
    margin: 6rem 1rem 0 1rem;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10rem);
    flex-wrap: wrap;
}

.dashboard__test {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    width: 15rem;
    height: 15rem;
    box-shadow: 0 .5rem 1rem var(--shadow-color);
}

.dashboard__test:hover {
    outline: 2px solid var(--accent-color);
}


.dashboard__create {
    border: 2px dashed var(--shadow-color);
    border-radius: 1rem;
    width: 15rem;
    height: 15rem;
}

.dashboard__create:hover {
    border: 2px dashed var(--accent-color);
}

.dashboard__delete:hover {
    color: var(--error-color);
}

.dashboard__view-edit:hover {
    color: var(--accent-color);
}

.dashboard__action-container {
    display: flex;
    margin-top: auto;
    justify-content: flex-end;
}

