.editor {
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 5rem;
    width: 50rem;
}

.editor__grid {
    display: grid;
    grid-template-columns: 10rem 1fr 1rem;
    align-items: center;
    gap: 1rem 3rem;
}

.editor__input {
    padding: 1rem;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid var(--shadow-color);
    transition: box-shadow .25s, background-color .25s;
}

.editor__input:focus {
    background-color: var(--contrast-color);
    outline: 1px solid var(--accent-color);
    box-shadow: 0 .5rem 1rem var(--shadow-color);
}

.editor__answer {
    background-color: var(--contrast-color);
    padding: 2rem;
    box-shadow: 0 .5rem 1rem var(--shadow-color);
    border-radius: .5rem;
}

.editor__action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editor__image-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editor__image {
    max-width: 50%;
    border: 1px solid var(--accent-color);
}

.editor__error {
    padding: 1rem;
    background-color: var(--error-color);
    border-radius: .5rem;
    color: var(--contrast-color);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.editor__multi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border: 1px dashed var(--shadow-color);
    color: var(--mid-color);
    grid-column: 2;
}

.editor__multi:hover {
    border: 1px dashed var(--accent-color);
    color: var(--accent-color);
}