

.block__standard {
    height: 10vh;
    width: 10vh;
    background-color: grey;
    border-radius: 25px;
}

.block__correct-match {
    height: 10vh;
    width: 10vh;
    background-color: var(--accent-color);
    border-radius: 25px;
  }

.block__incorrect-match {
    height: 10vh;
    width: 10vh;
    background-color: rgb(65, 62, 62);
    border-radius: 25px;
    animation: shake 0.2s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.block__flash-color{
  height: 10vh;
  width: 10vh;
  border-radius: 25px;
  background-color: grey;
  animation: flash_color 0.3s, shake 0.2s;

}

@keyframes flash_color{
  0% {background-color: red;}
  100% {background-color: grey;}
}

.pa {
  color: white;
}


.block-0 {
  left: 52.5%;
  top: 10%;
  position: absolute;
}

.block-1 {
  left: 12.5%;
  top: 16.5%;
  position: absolute;
}

.block-2 {
  left: 70%;
  top: 28%;
  position: absolute;
}

.block-3 {
  left: 26%;
  top: 34%;
  position: absolute;
}

.block-4 {
  left: 56%;
  top: 42%;
  position: absolute;
}

.block-5 {
  left: 76.5%;
  top: 57%;
  position: absolute;
}

.block-6 {
  left: 7%;
  top: 62%;
  position: absolute;
}

.block-7 {
  left: 29%;
  top: 76.5%;
  position: absolute;
}

.block-8 {
  left: 53.5%;
  top: 71%;
  position: absolute;
}

