.stats {
    padding: 6rem 8rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.stats__section {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.stats__image {
    width: 100px;
    height: 100px;
    color: var(--accent-color)
}

.stats__col {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.stats__row {
    display: flex;
    gap: 3rem;
}

.stats__action-container {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.barChart {
    width: 1000px;
    font-size: 20px;
}
