.test {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    gap: 1rem;
    height: 100vh;
    background-color: var(--contrast-color);
}

.test__question {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.test__question img {
    max-width: 40vw;
    max-height: 40vh;
    padding: 20px;
}

.test__answers {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.answer__choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color .25s;
    padding: .5rem 1rem;
    border-radius: 12px;
}

.answer__choice:hover {
    outline: 1px solid var(--accent-color);
}

.answer__choice img {
    max-width: 10vw;
    max-height: 10vh;
    cursor: pointer;
}

.answer__text-entry {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer__text-entry input {
    color: var(--accent-color);
    border: 1px solid var(--contrast-color-hover);
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
    transition: background-color .25s;
    height: 50px;
    width: 200px;
}

.answer__text-entry input:focus,
.answer__text-entry input:hover {
    outline: none;
    border: 1px solid var(--accent-color);
}

.answer__text-entry input::placeholder {
    color: rgba(129, 129, 129, 0.5);
    font-family: var(--font);
}

.answer__text-entry input:focus::placeholder {
    color: transparent;
}

.test__next {
    display: flex;
    border: none;
    position: absolute;
    padding: 0;
    right: 1rem;
    background-color: transparent;
    color: var(--accent-color);
    fill: var(--accent-color);
    cursor: pointer;
    transition: color .25s;
    animation: fadeIn 1s;
    /* Appear above Card Matching Game */
    z-index: 1;
}

.test__previous {
    display: flex;
    border: none;
    position: absolute;
    padding: 0;
    left: 1rem;
    background-color: transparent;
    color: var(--accent-color);
    fill: var(--accent-color);
    cursor: pointer;
    transition: color .25s;
    animation: fadeIn 1s;
    /* Appear above Card Matching Game */
    z-index: 1;
}

.test__next:hover {
    color: #1b7be9;
}

.test__progress {
    position: absolute;
    right: 1rem;
    top: 5rem;
    font-size: 32px;
    color: var(--accent-color);
}

.test__progress:hover {
    cursor: default;
}

.test__timer {
    position: absolute;
    top: 5rem;
    left: 1rem;
    font-size: 32px;
    color: var(--accent-color);
    /* Appear above Card Matching Game */
    z-index: 1;
}

.test__timer:hover {
    cursor: default;
}

.test__question-select {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    
}

.question-select__button {
    padding: 0.5rem;
    margin: 0.4rem;
    font-size: 1.5rem;
    border-radius: 8px;
    /* outline: 1.5px solid; */
    animation: fadeIn 1s;
    transition: background-color .25s;
}
.question-select__button:hover {
    outline: 1.5px solid var(--accent-color);
}

.test__finish-button {
    position: absolute;
    right: 2rem;
    bottom: 1.4rem;
    padding: 5px;
    /* color: var(--accent-color); */
    border: 1px solid var(--accent-color);
    transition: background-color .25s;
}

.test__finish-button:hover {
    background-color: #7aaeeb;
}

.finish-modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 20%;
}

.modal__content {
    background-color: var(--contrast-color);
    margin: 5% auto;
    padding: 30px;
    width: 40%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    gap: 2rem;
}

.modal__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 2rem;
}

.modal__buttons .cancel-button {
    border: 2px solid #ff0000;
    background-color: #ffbcbc;
    padding: 10px;
    width: 50%;

}
.modal__buttons .finish-button {
    border: 2px solid #1b7be9;
    background-color: var(--accent-color);
    padding: 10px;
    width: 50%;
}

.test__start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.test__start-screen h1,
.test__start-screen h2 {
    color: var(--accent-color);
}

.test__start-button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: #1d6e04;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 32px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
  }
  
.test__start-button:hover {
box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
transform: scale(1.05) rotate(-1deg);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
