.test {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 1rem;
}

.test div {
    flex: 1 1 0%;
}

.test__content {
    flex: 2 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    animation: fadeIn 1s;
}
 
.test__question {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.test__answers {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.answer__option {
    display: flex;
    flex-direction: column;
    transition: background-color .25s;
    padding: 6px;
    border-radius: 12px;
}
.answer__option:hover {
    background-color: var(--accent-color);
}

.test__left__bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

.test__right__bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    height: 100vh;
}

.test__next {
    display: flex;
    border: none;
    background-color: transparent;
    color: var(--accent-color);
    fill: var(--accent-color);
    cursor: pointer;
    transition: color .25s;
}

.test__next:hover {
    color: #1b7be9;
}

.test__progress {
    font-size: 32px;
    padding: 24px;
    color: var(--accent-color);
}

.test__progress:hover {
    cursor: default;
}

.test__timer {
    font-size: 20px;
    color: var(--accent-color);
    /* color: red; */
    padding: 24px;
}

.test__timer:hover {
    cursor: default;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
