.timer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 24px;
    position: absolute;
    width: 40px;
    bottom: 20px;
    right: -60%;
    text-align: center;
    color: #28CFA7
  
}

.slider{
    position: fixed;
    width: 100%;
    height: 16px;
    bottom: 0;
    background-color: #28CFA7
}

.slider-background{
    position: fixed;
    width: 100%;
    height: 16px;
    bottom: 0;
    background-color: #DAE8E8
}

.slider-pointer{
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 30px;
    right: -0.5%;

}

